:root {
  --background: hsla(0, 0%, 0%, 1);
  --input-placeholder: var(--cpd-color-gray-1000);
  --logo-fill: white;
  --logo-bg: black;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --cpd-color-bg-canvas-default: var(--background);
    --cpd-color-border-focused: var(--cpd-color-gray-900);
    --logo-fill: black;
    --logo-bg: white;
  }
}

.cpd-text-control {
  border-radius: 0.25rem;
}

input::placeholder {
  color: var(--input-placeholder);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.page-heading {
  & .icon {
    background-color: transparent;
    & svg {
      height: var(--cpd-space-16x);
      width: var(--cpd-space-16x);
      color: var(--cpd-color-icon-secondary);
    }
  }

}

.hide-label {
  & .cpd-form-label {
    display: none;
  }
}


.handle {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
